.btn {
    background-color: #000;
    border: medium none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    outline: 0 none;
    overflow: hidden;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
    white-space: nowrap;
}

.mySubmitButton {
   background-color: lightblue;
}